@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";



.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

// Modules
@import "blocks/wrapper.scss";
