.about {
    position: relative;
    display: flex;

    @include respond(tab) {
        flex-direction: column;
    }
}

.about__triangles {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 100%;
}

.about__left {
    background: $bg-color-about-left;//!!!!
    flex-basis: 50%;
    display: flex;
    padding: 1em;
    justify-content: space-between;

    @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    @include respond(tab) {
        padding-bottom: 3em;
    }

    &-title {
        flex-basis: 50%;
        position: relative;

        @include respond(tab-land) {
            top: -3em;
            flex-basis: auto;
        }

        @include respond(tab) {
            top: 0;
            flex-basis: auto;
        }

        &-position {
            position: absolute;
            top: -3.5em;
            left: 50%;
            transform: translateX(-50%);

            @include respond(tab-land) {
                position: static;
                transform: translateX(0);
                margin: 0 auto;
                margin-bottom: 2.5em;
            }
        }
    }
}

.about__right {
    background: $bg-color-about-right;
    flex-basis: 50%;
    padding: 0.6em 5.5em 2.8em 2em;

    @include respond(tab-land) {
        padding-right: 0;
    }

    @include respond(tab) {
        text-align: center;
        padding: 3em 1em;
    }

    &-title {
        margin: 0 auto;
        text-align: center;
        font-family: "SansusWeb";
        font-weight: 400;
        text-transform: uppercase;
        max-width: 260px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: $color-grey-light;
            left: 50%;
            bottom: -.7em;
            transform: translateX(-50%);
            width: 89px;
            height: 3px;

        }
    }

    &-text {
        margin-top: 3em;
        margin-bottom: 3em;
        line-height: 1.5;

        @include respond(tab) {
            margin: 3em auto;
            max-width: 505px;
        }
    }
}

.about-header {
    background: url("/assets/img/decor/about_header.png") no-repeat center / contain;
    width: 22.5em;
    height: 7.8em;

    @include respond(tab) {
        width: 17em;
        height: 6em;
    }
}

