// header style
.header {
    position: relative;
    background: $color-green-light url("/assets/img/water.jpg") no-repeat center / cover;

    &__bg {
        position: absolute;
        bottom: -52.5em;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 100%;
        height: 63em;
        &--left {
            flex-grow: 1;
            //height: 63em;
        }

        &--right {
            flex-grow: 1;
            //height: 63em;
        }
    }
}

.header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 2em 2em 5em;
    @media screen and (max-width: $smDesktopWidth) { // 1200px

    }
    @media screen and (max-width: $tableWidth) {  //768px

    }
    @media screen and (max-width: $phoneWidth) { //320px
        padding-left: 0.71em;
        padding-right: .71em;
        padding-top: .8em;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $phoneWidth) {
        align-items: center;
    }

}