// header style
.header {
    background: $color-green-light url("/assets/img/water.jpg") no-repeat center / cover;
}

.navigation {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}