// header style
.header {
    position: relative;
    background: $color-green-light url("/assets/img/water.jpg") no-repeat center / cover;
}

.header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 2em 2em 5em;
    @media screen and (max-width: $smDesktopWidth) { // 1200px

    }
    @media screen and (max-width: $tableWidth) {  //768px

    }
    @media screen and (max-width: $phoneWidth) { //320px
        padding-left: 0.71em;
        padding-right: .71em;
        padding-top: .8em;
    }
}

.header__decor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

    @include respond(phone) {
        & > img {
            display: none;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $phoneWidth) {
        align-items: center;
    }

}