.menu {
    display: inline-block;

    &__svg {
        fill: #fff;
        height: 2.19em;
        width: 2.5em;

        @media (max-width: $phoneWidth) {
            height: 1.64em;
            width: 1.86em;
        }
    }
}