.skills {

  &__title {
    font-weight: 400;
    margin-bottom: .625rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__list {
    //display: flex;
  }

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 2.5em;

      @include respond(tab-land) {
        margin-right: 1.6em;
      }
    }

    &-svg {
      width: 120px;
      height: 120px;
      fill: none;
      stroke-width: 20px;
      stroke: #dfdcd5;
    }

    &-sector {
      stroke: $color-green-light;
      stroke-dasharray: 276px;
      stroke-dashoffset: 138px;
      transform: rotate(-90deg);
      transform-origin: 60px 60px;
    }

    &-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'RobotoMedium';
      font-weight: 500;
      color: $color-green-dark;
      text-align: center;
      width: 4.29em;
    }
  }
}

@media screen and (max-width: 581px) {
  .skills__list {
    display: flex;
    flex-wrap: wrap;
  }
  .skills__item {
    margin-right: 0;
    flex-grow: 1;
  }

  .skills__item:not(:last-child) {
    margin-right: 0;
  }
}



