.slider {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: max-content max-content 225px;

   @include respond(tab) {
      grid-template-rows: max-content max-content 28vw;
   }

   &__desc {
      grid-column: 1/span 1;
      grid-row: 1/-1;
      background-color: rgb(235,239,226);
      height: 100%;
      display: flex;

      @include respond(tab) {
         grid-column: 1/-1;
         grid-row: 2/span 1;
         padding: 3em;
      }

      &-block {
         margin: auto;
         max-width: 330px;
         text-align: center;

         @include respond(tab) {
            max-width: 100%;
         }
      }

      &-header {
         font-family: SansusWeb;
         font-weight: 400;
         text-transform: uppercase;
         color: $color-grey-light;
         line-height: 1.171;
         margin-bottom: 1.5em;
         position: relative;

         &::after {
            position: absolute;
            content: '';
            background-color: $color-grey-light;
            left: 50%;
            transform: translateX(-50%);
            bottom: -.75em;
            width: 89px;
            height: 3px;
         }

         @include respond(tab) {
            font-size: 30px;
         }

         @include respond(phone) {
            font-size: 21px;
         }
      }

      &-text {
         font: 500 15.7px RobotoMedium;
         text-transform: uppercase;
         color: $color-green-dark;
         line-height: 1.2;
         margin-bottom: 3.6em;

         @include respond(tab) {
            margin-bottom: calc(5vw - .3em);
         }
      }

      &-link {
         display: inline-block;
      }

      &-link-wrap {
         @extend %btn;
         border-radius: 45px;
         display: flex;
         margin: 0 auto;
         font-family: RobotoMedium;
         color: #ffffff;

         & > img {
            margin-right: .625em;
         }
      }
   }

   &__work {
      grid-column: 2/span 1;
      grid-row: 1/span 2;
      background-color: rgb(225,228,215);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3em;

      @include respond(tab) {
         grid-column: 1/-1;
         grid-row: 1/span 1;
      }
   }

   &__buttons {
      grid-column: 2/-1;
      grid-row: 3/span 1;
      display: flex;

      @include respond(tab) {
         grid-column: 1/-1;
         grid-row: 3/span 1;
      }

      &-arrow {
         position: relative;
         text-align: center;
         overflow: hidden;
         flex: 1;
      }

      &-works {
         width: 100%;
         height: 100%;
         position: absolute;
      }

      &-item {
         width: 100%;
         height: 100%;
         position: absolute;
         //top: -100%;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: top .4s;
      }

      .slide-active {
         top: 0 !important;
      }

      &-pic {
         max-height: 100%;
      }

      .slider-second {
         background-image: linear-gradient(to right, #b3b8af, #b1b6ad);
      }

      .slider-first {
         background-image: linear-gradient(to right, #9da199, #9ba098);
      }

      .svg-wrap {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);

         & > svg {
            width: 43px;
            height: 27px;
            fill: #fff;
         }

      }
   }
}
.slider-first > li {
   top: -100%;
}

.slider-second > li {
   top: 100%;
}

.slider-pic {
   animation: scaleImg .5s;
}

@keyframes scaleImg {
   0% {
      transform: scale(0.2);
   }

   100% {
      transform: scale(1);
   }
}