.socials {
    display: inline-block;

    .socials__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 1.8em;
    }

    &__link > img {
        height: 17px;
    }
}