.socials {
    display: inline-block;

    .socials__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 1.5em;

        @include respond(phone) {
            margin-right: 2em;
        }
    }

    &__item {

    }

    &__link:hover &__svg {
        fill: $color-green-light;
    }
    
    &__svg {
        fill: #fff;
        height: 1.06em;
        width: 1.875em;
        transition: fill .4s;

        @media screen and (max-width: $tableWidth) {
            height: 1.5em;
        }

        @media screen and (max-width: $phoneWidth) {
            height: .928em;
            width: 1.714em;
        }
    }
}