.what-about {
  position: relative;
  background: url("/assets/img/work-ground.jpg") no-repeat center top / cover;

  &__wrapper {
    padding: 2em 1em 4.3em;
  }

  &__header {
    width: 31.2em;
    height: 11em;
    margin: 0 auto;

    @include respond(tab) {
      width: 398px;
      height: 140px;
    }

    @media screen and (max-width: 576px) {
      width: 249px;
      height: 88px;
    }

    & > h1 {
      transform: translateY(.7em);

      @include respond(tab) {
        font-size: 49px;
      }

      @include respond(small){
        font-size: 35px;
      }
    }
  }

  &__arrow-up {
    display: block;
    text-align: center;
    transform: rotate(180deg);
    margin: 0 auto;
    margin-top: 4.3em;
    fill: #c1c3c1;
    width: 26px;
    height: 16px;

  }
}

.what-about-form {
  margin: 0 auto;
}

.list1 {
  position: absolute;
  bottom: 24%;
  left: 24%;
}

.list2 {
  position: absolute;
  top: 10%;
  left: 16%;
}

.list3 {
  position: absolute;
  top: 54%;
  right: 15%;
}

@include respond(tab) {
  img[class^='list'] {
    display: none;
  }
}