// Fonts here

@font-face {
    font-family: "SansusWeb";
    src: url("/assets/fonts/Sansus-Webissimo-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoBold';
    src: url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url("/assets/fonts/Roboto-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url("/assets/fonts/Roboto-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoLight';
    src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url("/assets/fonts/Roboto-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url("/assets/fonts/Roboto-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Awesome';
    src: url("/assets/fonts/fontawesome-webfont.ttf") format('truetype');
    font-weight: 400;
}


