// Font
$mainFont: 'RobotoRegular', Arial, sans-serif;

// Size
$mainFontColor: #566358;
$mainFontSize: 16px;

$desktopWidth: 1800px;
$smDesktopWidth: 1200px;
$tableWidth: 783px;//768px;
$phoneWidth: 480px;

$color-green-light: #6c9c5a;
$color-green-dark: #4e8839;
$color-grey-light: #566358;
$color-grey-dark: #373e42;

$color-link: #6da3bd;

$bg-color-about-left: #ebefe2;
$bg-color-about-right: #f4f5f0;