<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", type="image/png", href="fav_forest.png")
        title Portfolio | main page
    body
        .wrapper
            section.section.hero
                ul.socials
                    each item in ['vk', 'gh', 'in']
                        li.socials__item
                            a(href="" class=`socials__link socials__link_${item}`)
                a(href="").hamburger
                a(href="").down-arrow
                .hero__title
                    img(src="../../", alt="").section-title
                    .user.hero__user-block
                        .user__photo
                        .user__name
                        .user__disc

            section.section.about
                .about__left
                    svg.triangle.triangle_fill_white
                    .title.about__section-title
                        | Обо мне
                    .user-about
                        .user-about__picture
                        .user-about__title.subtitle
                            | Кто я
                        .user-about__text
                            p
                            p
                .about__right
                    svg.triangle.triangle_fill_beige

                    .about-data
                        .about-data__description.about-user-info
                            .about-user-info__title
                                .subtitle Чем я могу быть вам полезен
                            .about-user-info__text
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nostrum, quis. Aliquam amet corporis est fuga hic id maiores neque odit provident quas quo, quod ratione recusandae saepe unde. Vero.
                        .about-data__content
                            ul.skills
                                each skill in ['Frontend', 'Backend', 'Workflow']
                                    li.skills__item
                                        .skill-section
                                            .skill-section__title= skill
                                            ul.skill-section__list
                                                each skillName in ['HTML5', 'CSS3', 'jQuery']
                                                    li.skill-section__item
                                                        svg.skill__circle
                                                        .skill__name= skillName
            section.section.map