<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", type="image/png", href="fav_forest.png")
        title Portfolio | main page
    body
        .wrapper
            section.section.hero
                ul.socials
                    each item in ['vk', 'gh', 'in']
                        li.socials__item
                            a(href="" class=`socials__link socials__link_${item}`)
                a(href="").hamburger
                a(href="").down-arrow

            section.section.about
            section.section.map